@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 5px 50px;
    margin-bottom: 3%;
}

header img {
    width: 80px;
}

header a {
    display: inline-block;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px;
    position: relative;
}

header a:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.8s;
}

header a:hover:before {
    width: 90%;
}

header .icon {
    display: none;
    cursor: pointer;
    color: white;
    transform: translateY(10%);
    font-size: 1.4em;
}

main {
    padding: 2%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    max-width: 800px;
    margin-left: 30px;
    padding: 25px;
}

section h2 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-bottom: 30px;
}

section p {
    font-size: 1em;
    text-align: justify;
}
section span {
    color: #0064A3;
}

section button {
    width: 250px;
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0064A3;
    cursor: pointer;
    font-size: 1em;
    transition: .5s;
}

section button:hover {
    letter-spacing: 1px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0064A3;
    clip-path: circle(400px at right 550px);
    transition: .5s;
}

section img {
    width: 500px;
    max-width: 500px;
    transform: rotate(30deg);
    transition: .5s;
}

.toBlue, .toRed, .toGreen {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    box-shadow: 1px 1px 5px black;
}

.toBlue {
    top: 240px;
    background-color: #0064A3;
}

.toRed {
    top: 280px;
    background-color: #5D2739;
}

.toGreen {
    top: 320px;
    background-color: #1F5B56;
}

.social-media {
    width: 150px;
    font-size: 1.5em;
    display: flex;
    gap: 25px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.social-media i {
    cursor: pointer;
    transition: .2s;
}

.social-media i:hover {
    transform: translateY(-10px);
}

.fa-instagram, .fa-facebook, .fa-tiktok {
    padding: 5px;
}

.fa-facebook:hover {
    color: #0064A3;  
}

.fa-instagram:hover {
    color: white;
    background: linear-gradient(45deg, #FDD271, #E12D75, #A23794, #515FCF);
    border-radius: 10px;
}   

.fa-tiktok:hover {
    text-shadow: 2px -2px #F22D66, -2px -1px #00E6DE;
}

@media (max-width: 700px) {
    header {
        position: relative;
    }

    header img {
        width: 50px;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #111;
    }

    .none {
        display: none;
    }

    header nav a{
        width: 100%;
        text-align: center;
    }

    header .icon {
       display: inline-block;
    }

    .content section {
        padding: 0;
    }

    .content img {
        width: 100px;
        max-width: 250px;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    body {
        height: auto;
    }

    main {
        padding: 0;
    }

    .bg {
        display: none;
    }

    .content {
        flex-direction: column;
        padding: 25px;
    }

    .content section {
        margin: 0;
    }

    .content section h2 {
        font-size: 3em;
        text-align: center;
    }

    .content section a {
        text-decoration: none;
    }

    .content section button {
        display: block;
        margin: 15px auto;
        text-decoration: none;
    }

    .content section img {
        width: 300px;
        margin: 50px 0;
        display: block;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toBlue, .toRed, .toGreen {
        position: static;
        display: inline-block;
        margin-top: 20px;
        margin-left: 15px;
        padding: 10px;
    }

    .social-media {
        padding: 25px;
        position: static;
        width: auto;
        transform: none;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1350px) {
    .content section h2 {
        font-size: 2.8em;
    }

    .bg {
        clip-path: circle(400px at right 550px);
    }

    .content section img {
        width: 400px;
    }

    .social-media {
        gap: 15px;
        left: 150px;
    }
}
